/**
 * Variables
 */
/* Colors */
$color-dark: rgba(0,0,0,0.98);
$color-bright: rgba(255, 255, 255, 1);
$color-signal: rgba(192, 206, 0, 1);
$color-footer: rgba(235, 235, 231, 1);
/* Breakpoints */
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1200px;
